* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/*Forside styling begynder*/
.grid-container-forside{
    display: grid;
    height: 150vh;
    grid-template-columns: 1fr 1fr 1fr 1fr ;  
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "car-pic car-pic car-pic aside"
    "container-icon container-icon container-icon container-icon"
    "footer footer footer footer";
  }


/*Forside styling slutter*/

/*Vores biler styling begynder*/
.grid-container-vbiler{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1.6fr;
    grid-template-rows: 0.5fr 1.5fr 1.2fr 0.2fr;
    grid-template-areas: 
    "nav nav nav nav"
    "main main main aside"
    "article article article aside"
    "footer footer footer footer";
}
/*Vores biler styling slutter*/

/*Køb og Leasing styling begynder*/
.grid-container-kobogleasing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "section section aside aside"
    "booking booking booking booking"
    "article article textarea textarea"
    "contact contact picture picture"
    "footer footer footer footer"
    ;
}



/*Køb og Leasing styling slutter*/

/*Om os styling begynder*/
.grid-container-omos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: 
    "header header header header"
    "main main aside aside"
    "article article picture picture"
    "timeline timeline timeline timeline"
    "footer footer footer footer" 
    ;
  
  }

/*Om Os styling slutter*/

/*Kontakt styling begynder*/

/*Kontakt styling slutter*/